
.oceanxx {
  fill: rgb(59, 59, 59);
}

.landxx
{
	fill: #363a74;
	stroke: #ffffff;
	stroke-width: 0.5;
	fill-rule: evenodd;
  transition: all .02s ease;
}

.landxx:hover
{
	fill: #2166b4;
	stroke: #ffffff;
	stroke-width: 0.5;
	fill-rule: evenodd;
}

.subxx
{
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.3;
}

.circlexx
{
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.5;
}
/* 
.antxx
{
	opacity: 1;
	fill: #c0c0c0;
} */

.noxx
{
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.5;
}

.limitxx
{
	opacity: 0;
	fill: #c0c0c0;
	stroke: #ffffff;
	stroke-width: 0.2;
	fill-rule: evenodd;
}

.unxx
{
	opacity: 0;
	fill: #c0c0c0;
	stroke: #000000;
	stroke-width: 0.3;
}

