.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

svg {
	border: 1px solid red;
	top: 0;
	left: 0;
 }

path:hover {
	fill: green;
}